body{
	background: #E0E0E0;
}
#panelEquipo{
	border-radius: 16px;
    border: 2px solid #FFC107;
    left: 8px;
}
.top-buffer { margin-top:20px; }
a img{
	height: 120px;
	width: 120px;
}

#titulo_QQSI{
	margin-top: 5px;
	text-align: center;

}
@font-face{
   font-family: Lobster-Regular;
   src: url(./fonts/Lobster-Regular.ttf) format('truetype');
}
h1{
	font-family: Lobster-regular;
	font-size: 40px;
	color: white;
}

.jumbotron{
	
    margin-top: 15px;
    padding-top: 5px;
    height: 600px;
    width: 670px;
    box-shadow: 10px 10px 5px 0px #999999;
    background: white;
}
#jumbotron_equipos{
	
    margin-top: 15px;
    padding-top: 5px; 
    height: 600px;
    width: 400px;
    box-shadow: 10px 10px 5px 0px #999999;
    background: white;
}
#container_hexa{
	padding-left: 5px;
}
#hexagonos{
	padding-left: 10px;
}
