body{
	background: #E0E0E0;
}

.top-buffer { margin-top:20px; }
a img{
	height: 120px;
	width: 120px;
}

#titulo_QQSI{
	margin-top: 5px;
	text-align: center;

}
@font-face{
   font-family: Lobster-Regular;
   src: url(./fonts/Lobster-Regular.ttf) format('truetype');
}
h1{
	font-family: Lobster-regular;
	font-size: 30px;
	color: white;
}

#equipos {
    padding-left: 5px;
    background: white;
    width: 321px;
    height: 650px;
    box-shadow: 10px 10px 5px 0px #999999;
}

#hexagonos {
    
    background: #ECEFF1;
    width: 700px;
    height: 650px;
    box-shadow: 10px 10px 5px 0px #999999;
}

#contenido {
    float: right;
    background: white;
    width: 322px;
    height: 650px; ;
}


.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
#imgEquipo1{
    float: left;
}
#imgEquipo2{
    float: left;
}
#imgEquipo3{
    float: left;
}
#imgEquipo4{
    float: left;
}

.progress-bar {
    -webkit-transition: width 2.5s ease;
    transition: width 2.5s ease;
}

